
target/classes/META-INF/maven/my.test.bed/my.test.bed/pom.properties

bin/my/test/bed/DiwaliLighting.class

target/classes/META-INF/MANIFEST.MF

target/classes/META-INF/maven/my.test.bed/my.test.bed/pom.xml

target/classes/my/test/bed/DiwaliLighting.class
